<% this.adminPage = 'start_pages'; %>
<% include admin_header %>
<div>
  <form id="form_upload" class="ui form" action="<%= syzoj.utils.makeUrl(['admin', 'start_pages', 'add', 'carousel']) %>" method="post" enctype="multipart/form-data">
    <div class="inline fields">
      <div class="field">
        <label for="answer">轮播框图片(请使用 1.jpg,2.jpg,3.jpg,4.jpg 作为文件名，将按此顺序展示在首页)</label>
        <input type="file" name="file" multiple id="upload_file">
        <div class="ui labeled icon blue button" onclick="check_replace()"><i class="ui edit icon"></i>提交</div>
      </div>
    </div>
  </form>
</div>
<script>
  function check_replace() {
    $('#form_upload').submit();
  }
</script>

<% include admin_footer %>
