</div>
    <div class="ui vertical footer segment">
      <div class="ui center aligned container">
        <span style="color: #999;"><%= syzoj.config.title %> Powered by <a href="https://github.com/syzoj/syzoj" target="_blank">SYZOJ</a>.</span>
      </div>
    </div>

<script src="/libs/semantic-ui/semantic.min.js"></script>
<script src="/libs/Chart.js/Chart.bundle.min.js"></script>
<script src="/script.js?20170710"></script>
<script>
var lang = navigator.language || navigator.userLanguage;
var menu_i18n = {
  '首页': 'Home',
  '题库': 'Problems',
  '比赛': 'Contests',
  '评测': 'Status',
  '排名': 'Ranking',
  '讨论': 'Discussions',
  '帮助': 'Help',
  '返回比赛': 'Return to Contest',
  '修改资料': 'Edit profile',
  '后台管理': 'Admin panel',
  '注销': 'Log out'
};
var btns_i18n = {
  '注册': 'Sign up',
  '登录': 'Log in',
  '排行榜': 'Ranklist',
  '提交记录': 'Submission history',
  '编辑比赛': 'Edit contest',
  '查询': 'Search',
  '我的提交': 'Mine',
  '附加文件': 'Additional files',
  '提交': 'Submit',
  '统计': 'Statistics',
  '讨论': 'Discussion',
  '测试数据': 'Test data',
  '返回比赛': 'Return to contest',
  '添加标签': 'Create tag',
  '添加题目': 'Create problem',
  '查找用户': 'Find user',
  '题目板块': 'Problems',
  '全局板块': 'Global',
  '发帖': 'Create post',
  '修改资料': 'Edit profile',
  '修改': 'Save changes',
  '返回个人资料': 'Return to profile'
};
var ths_i18n = {
  '：': '',
  '邮箱': 'E-mail',
  '性别': 'Gender',
  '公开': 'Publicize',
  '密码': 'Password',
  '确认密码': 'Confirm password',
  '提交状态': 'Status',
  '状态': 'Status',
  '题目描述': 'Problem statement',
  '题目编号': 'Problem ID',
  '题目': 'Problem',
  '名称': ' title',
  '统计': 'Statistics',
  '用户名': 'Username',
  '罚时': 'Penalty',
  '总分': 'Total',
  '编号': 'ID',
  '分数': 'Score',
  '总时间': 'Exec. Time',
  '内存': 'Exec. Mem.',
  '代码 / 答案文件': 'Length',
  '提交者': 'User',
  '提交时间': 'Submission Time',
  '语言': 'Language',
  '或者，上传代码文件': 'Or upload file',
  '通过率': 'Ac. rate',
  '通过数量': 'Solved',
  '通过': 'Ac.',
  '提交': 'Subm.',
  '显示分类标签': 'Show tags',
  '个性签名': 'Signature',
  '比赛': 'Contest',
  '开始时间': 'Start time',
  '结束时间': 'End time',
  '描述': 'Description',
  '标题': 'Title',
  '时间': 'Time',
  '作者': 'Author',
  '回复数': 'Replies',
  '最新回复': 'Last activity',
  '内容': 'Content',
  '链接': ' link',
  '输入格式': 'Input specification',
  '输出格式': 'Output specification',
  '样例': 'Samples',
  '数据范围与提示': 'Constraints and hints',
  '标签': 'Tags',
  '匿名上传': 'Anonymous'
};
var uilbls_i18n = {
  '内存限制：': 'Memory limit: ',
  '时间限制：': 'Time limit: ',
  '输入文件: ': 'Input file: ',
  '输出文件: ': 'Output file: ',
  '标准输入输出': 'Standard input/output',
  '题目类型：': 'Type: ',
  '传统': 'Traditional',
  '提交答案': 'Output only',
  '交互': 'Interactive',
  '评测方式：': 'Judgement: ',
  '文本比较': 'Text diff',
  '上传者：': 'Uploaded by: ',
  '公开者：': 'Publicized by: ',
  '未开始': 'Upcoming',
  '进行中': 'Running',
  '已结束': 'Finished'
};
var h4s_i18n = {
  '公告': 'Announcements',
  '一言（ヒトコト）': 'Hitokoto',
  '排名': 'Ranking',
  '今日运势': 'Fortune',
  '搜索题目': 'Search problems',
  '近期比赛': 'Recent contests',
  '友情链接': 'Links',
  '信息与公告': 'Information and announcements',
  '题目描述': 'Problem statement',
  '输入格式': 'Input specification',
  '输出格式': 'Output specification',
  '样例': 'Samples',
  '数据范围与提示': 'Constraints and hints',
  '用户名': 'Username',
  '个性签名': 'Signature',
  '注册于': 'Registered',
  '通过的题目': 'Solved problems',
  '帖子': 'Posts',
  '比赛': 'Contests',
  '统计': 'Statistics',
  '名次': 'Rank'
};
var accs_i18n = {
  '子任务': 'Subtask',
  '得分率': 'Score rate',
  '得分': 'Score',
  '测试点': 'Test',
  '用时': 'Time',
  '内存': 'Memory',
  '输入文件': 'Input file',
  '答案文件': 'Answer file',
  '用户输出': 'Participant\'s output',
  'Special Judge 信息': 'Checker\'s comments',
  '系统信息': 'System status',
  '（': ' (',
  '）': ')'
};
var misc_i18n = {
  '用户名': 'Username',
  '密码': 'Password',
  '注册': 'Sign up',
  '忘记密码': '| Forgot password?',
  '登录': 'Log in',
  '其它': 'Other',
  '男': 'Male',
  '女': 'Female',
  '不限': 'Any',
  '提交答案': 'Output only',
  '编辑': 'Edit',
  '预览': 'Preview',
  '新建题目': 'Create new',
  '导入题目': 'Import',
  '题目描述': 'Problem statement',
  '输入格式': 'Input specification',
  '输出格式': 'Output specification',
  '样例': 'Samples',
  '数据范围与提示': 'Constraints and hints'
};

function replaceAll(str, _) {
  var re = new RegExp(Object.keys(_).join("|"), "gi");
  return str.replace(re, function(matched) { return _[matched.toLowerCase()]; });
}
if (lang.substring(0, 2) !== 'zh') {
  var menu = document.getElementsByClassName('borderless menu')[0];
  menu.innerHTML = replaceAll(menu.innerHTML, menu_i18n);
  var btns = document.getElementsByClassName('ui button');
  for (var i = 0; i < btns.length; ++i) {
    btns[i].innerHTML = replaceAll(btns[i].innerHTML, btns_i18n);
  }
  var ths = document.getElementsByTagName('th');
  for (var i = 0; i < ths.length; ++i) {
    ths[i].innerHTML = replaceAll(ths[i].innerHTML, ths_i18n);
  }
  var lbls = document.getElementsByTagName('label');
  for (var i = 0; i < lbls.length; ++i) {
    lbls[i].innerHTML = replaceAll(lbls[i].innerHTML, ths_i18n);
  }
  var ui_lbls = document.getElementsByClassName('ui label');
  for (var i = 0; i < ui_lbls.length; ++i) {
    ui_lbls[i].innerHTML = replaceAll(ui_lbls[i].innerHTML, uilbls_i18n);
  }
  var h4s = document.getElementsByClassName('top attached block header');
  for (var i = 0; i < h4s.length; ++i) {
    h4s[i].innerHTML = replaceAll(h4s[i].innerHTML, h4s_i18n);
  }
  var accs = document.getElementsByClassName('fluid accordion');
  for (var i = 0; i < accs.length; ++i) {
    accs[i].innerHTML = replaceAll(accs[i].innerHTML, accs_i18n);
  }
  var h1s = document.getElementsByTagName('h1');
  for (var i = 0; i < h1s.length; ++i) {
    h1s[i].innerHTML = replaceAll(h1s[i].innerHTML, misc_i18n);
  }
  var h2s = document.getElementsByTagName('h2');
  for (var i = 0; i < h2s.length; ++i) {
    h2s[i].innerHTML = replaceAll(h2s[i].innerHTML, misc_i18n);
  }
  var as = document.getElementsByTagName('a');
  for (var i = 0; i < as.length; ++i) {
    as[i].innerHTML = replaceAll(as[i].innerHTML, misc_i18n);
  }
  var dds = document.getElementsByClassName('ui dropdown');
  for (var i = 0; i < dds.length; ++i) {
    dds[i].innerHTML = replaceAll(dds[i].innerHTML, misc_i18n);
  }
}
</script>
</body>
</html>
